<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="logomarca">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "zepng.png" , class: "rounded-circle" %>
    <% end %>
    <h1 class="title mt-3">Mercado<br>das Vacinas</h1>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">

        </li>
        <li class="nav-item">

        </li>
        <li class="nav-item dropdown">
          <%= image_tag "https://avatars2.githubusercontent.com/u/66792796?v=4", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <% if current_user.clinic_owner %>
              <%= link_to "Gerenciar suas Vacinas", vaccines_path, class: "dropdown-item" %>
            <% else %>
              <%= link_to "Meus Pedidos", orders_path, class: "dropdown-item" %>
            <% end %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "btn btn-primary btn-lg" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
