<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'banner_vaccine.jpg' %>')">
  <div class="banner-content">
    <h1> Mercado das Vacinas </h1>
    <p> Para adultos e crianças </p>
  </div>
</div>

<div class="search_title">
  Encontre sua Vacina:
</div>

<%= form_tag vaccine_types_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Ex: Febre Amarela, BGC, Gripe ..."
  %>
  <div class="d-flex my-3">
    <%= submit_tag "Pesquisa", class: "btn btn-primary m-auto" %>
  </div>
<% end %>

<div class="container">
    <div class="row">
      <% @vaccine_types.each do |vaccine_type| %>
        <div class="col-12 col-md-6 col-lg-4">
          <%= link_to vaccine_type do %>
           <div class="index_card" style="background-image: url('<%= image_path randomize_image %>');">
              <div class="card-description">
                <h2><%= vaccine_type.name %></h2>
              </div>
            </div>
          </div>
          <% end %>
      <% end %>
    </div>
  </div>
