<h3><strong>Nome:</strong> <%= @vaccine_type.name %></h3>
<h3><strong>Descrição:</strong><%= @vaccine_type.description %></h3>


<h4>Ofertas: </h4>
<div class="cards">
  <% @vaccines.each do |vaccine| %>
  <!-- coloquei na marra o height pra ser 600px pra não ficar em cima do footer, o ideal é ter um estilo de card diferente do index -->
  <div class="card" style="height: 600px;width: 18rem;">
    <img class="card-img-top" src="<%= image_path 'vacina.jpg'%>" alt="Imagem de capa do card">
    <div class="card-body">
      <h5 class="card-title">Clinica: <%= vaccine.clinic.name %></h5>
     </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Preço: <%= vaccine.string_price %> </li>
      <li class="list-group-item">Endereço: <%= vaccine.clinic.address %> </li>
      <li class="list-group-item"><%= link_to "Comprar", new_vaccine_order_path(vaccine) , class: "btn btn-primary" %></li>
      <li class="list-group-item"><%= link_to "Avaliações (#{vaccine.reviews.count})", reviews_path , class: "btn btn-primary" %></li>
    </ul>
  <!--   <div class="card-body">
      <a href="#" class="card-link">Link do card</a>
      <a href="#" class="card-link">Outro link</a>
    </div> -->
  </div>

  <% end %>
</div>
<%= link_to 'Back', vaccine_types_path, class: "btn btn-primary" %>
