<h3 class="header-text my-4"><strong>Seu Pedido</strong></h3>
<table class='table'>
  <thead>
    <tr>
      <% ["Data", "Vacina", "Clinica", "Quantidade", "Preço Unitário", "Preço Total"].each do |header| %>
        <th> <%= header %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>
          <%= @order.created_at.strftime("%d/%m/%Y")  %>
        </td>
        <td>
          <%= @order.vaccine.vaccine_type.name  %>
        </td>
        <td>
          <%= @order.vaccine.clinic.name  %>
        </td>
        <td>
          <%= @order.quantity %>
        </td>
        <td>
          <%= @order.string_price  %>
        </td>
        <td>
          <%= @order.string_total_price  %>
        </td>
      </tr>
  </tbody>
</table>

<div class="review">
  <% if @order.review && @order.review.id %>
    <h3 class="header-text mt-4"><strong>Sua Avaliação</strong></h3>
    <div class='container' style="width: 600px;">
      <table class="table">
        <thead>
          <tr>
            <th>
              Classificação
            </th>
            <th>
              Descrição
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <% @order.review.stars.times do  %>
               <i class="fas fa-star"></i>
              <% end %>
              <% (5-@order.review.stars).times do  %>
               <i class="far fa-star"></i>
              <% end %>
            </td>
            <td>
              <%= @order.review.description %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  <% else %>
    <h3 class="header-text mt-5"><strong>Deixe sua Avaliação</strong></h3>
    <%= render "reviews/new" %>
  <% end %>
</div>
