<div class="container pt-3">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">

      <h3 class="text-center mb-2 font-weight-bold"> Avaliações </h3>
      <h4 class="text-center mb-2"> <%= @reviews.first.order.vaccine.clinic.name %> </h4>
      <h4 class="text-center mb-2"> Vacina: <%= @reviews.first.order.vaccine.vaccine_type.name %> </h4>

        <% @reviews.each do |review| %>
          <div class = "card p-3 mb-3">
            <p class >
              <strong> Usuário: <%= review.order.user.email %> </strong>
            </p>
            <p class>
              <small>Descrição: <%= review.description %> </small>
            </p>
              <span class> Stars: <%= review.stars %> </span>
          </div>
        <% end %>
    </div>
  </div>
</div>

